<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afila.energiusaha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fix"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_fix_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergiUsaha">
        <activity android:name=".menu.materi.daya.ResaultActivityDaya"></activity>
        <activity android:name=".menu.materi.daya.DayaLatihanActivity2" />
        <activity android:name=".menu.materi.daya.DayaLatihanActivity" />
        <activity android:name=".menu.materi.hukum.ResultActivityHukum" />
        <activity android:name=".menu.materi.hukum.HukumLatihanActivity2" />
        <activity android:name=".menu.materi.hukum.HukunLatihanActivity" />
        <activity android:name=".menu.materi.hubungansahaenergi.ResultActivityHubungan" />
        <activity android:name=".menu.materi.hubungansahaenergi.HubunganLatihanActivity2" />
        <activity android:name=".menu.materi.hubungansahaenergi.HubunganLatihanActivity" />
        <activity android:name=".menu.materi.energi.ResultActivityEnergi" />
        <activity android:name=".menu.materi.energi.EnergiLatihanActivity2" />
        <activity android:name=".menu.materi.energi.EnergiLatihanActivity" />
        <activity android:name=".menu.materi.usaha.ResultActivityUsaha" />
        <activity android:name=".menu.materi.usaha.UsahaLatihanActivity2" />
        <activity android:name=".menu.materi.usaha.UsahaLatihanActivity" />
        <activity android:name=".menu.materi.WadahVideoActivity" />
        <activity android:name=".menu.materi.daya.MateriDataActivity" />
        <activity android:name=".menu.materi.hukum.HukumKekelanEnergiMekanikActivity" />
        <activity android:name=".menu.materi.hubungansahaenergi.HubunganUsahaEnergiActivity" />
        <activity android:name=".menu.materi.energi.MateriEnergiActivity" />
        <activity android:name=".menu.materi.usaha.MateriUsahaActivity" />
        <activity android:name=".menu.soal.SoalActivity20" />
        <activity android:name=".menu.soal.SoalActivity19" />
        <activity android:name=".menu.soal.SoalActivity18" />
        <activity android:name=".menu.soal.SoalActivity17" />
        <activity android:name=".menu.soal.SoalActivity16" />
        <activity android:name=".menu.soal.SoalActivity15" />
        <activity android:name=".menu.soal.SoalActivity14" />
        <activity android:name=".menu.soal.SoalActivity13" />
        <activity android:name=".menu.soal.SoalActivity12" />
        <activity android:name=".menu.soal.SoalActivity11" />
        <activity android:name=".menu.soal.ResultActivity" />
        <activity android:name=".menu.soal.SoalActivity10" />
        <activity android:name=".menu.soal.SoalActivity9" />
        <activity android:name=".menu.soal.SoalActivity8" />
        <activity android:name=".menu.soal.SoalActivity7" />
        <activity android:name=".menu.soal.SoalActivity6" />
        <activity android:name=".menu.soal.SoalActivity5" />
        <activity android:name=".menu.soal.SoalActivity4" />
        <activity android:name=".menu.soal.SoalActivity3" />
        <activity android:name=".menu.soal.SoalActivity2" />
        <activity android:name=".menu.ProfilActivity" />
        <activity android:name=".menu.soal.SoalActivity" />
        <activity android:name=".menu.materi.MateriActivity" />
        <activity android:name=".menu.TokohActivity" />
        <activity android:name=".menu.PetaActivity" />
        <activity android:name=".menu.KIActivity" />
        <activity android:name=".menu.ApersActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>