<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afila.energiusaha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergiUsaha">
        <activity android:name=".menu.soal.ResultActivity"></activity>
        <activity android:name=".menu.soal.SoalActivity10" />
        <activity android:name=".menu.soal.SoalActivity9" />
        <activity android:name=".menu.soal.SoalActivity8" />
        <activity android:name=".menu.soal.SoalActivity7" />
        <activity android:name=".menu.soal.SoalActivity6" />
        <activity android:name=".menu.soal.SoalActivity5" />
        <activity android:name=".menu.soal.SoalActivity4" />
        <activity android:name=".menu.soal.SoalActivity3" />
        <activity android:name=".menu.soal.SoalActivity2" />
        <activity android:name=".menu.ProfilActivity" />
        <activity android:name=".menu.soal.SoalActivity" />
        <activity android:name=".menu.MateriActivity" />
        <activity android:name=".menu.TokohActivity" />
        <activity android:name=".menu.PetaActivity" />
        <activity android:name=".menu.KIActivity" />
        <activity android:name=".menu.ApersActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>