<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afila.energiusaha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fix"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_fix_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergiUsaha">
        <activity android:name=".MainActivityTab"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".menu.materi.daya.ResaultActivityDaya"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.daya.DayaLatihanActivity2"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.daya.DayaLatihanActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hukum.ResultActivityHukum"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hukum.HukumLatihanActivity2"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hukum.HukunLatihanActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hubungansahaenergi.ResultActivityHubungan"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hubungansahaenergi.HubunganLatihanActivity2"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hubungansahaenergi.HubunganLatihanActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.energi.ResultActivityEnergi"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.energi.EnergiLatihanActivity2"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.energi.EnergiLatihanActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.usaha.ResultActivityUsaha"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.usaha.UsahaLatihanActivity2"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.usaha.UsahaLatihanActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.WadahVideoActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.daya.MateriDataActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hukum.HukumKekelanEnergiMekanikActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.hubungansahaenergi.HubunganUsahaEnergiActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.energi.MateriEnergiActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.usaha.MateriUsahaActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity20"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity19"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity18"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity17"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity16"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity15"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity14"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity13"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity12"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.SoalActivity11"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.result.ResultActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal10.SoalActivity10"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal9.SoalActivity9"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal8.SoalActivity8"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal7.SoalActivity7"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal6.SoalActivity6"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal5.SoalActivity5"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal4.SoalActivity4"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal3.SoalActivity3"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal2.SoalActivity2"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.ProfilActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.soal.soal1.SoalActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.materi.MateriActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.tokoh.TokohActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.peta.PetaActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.ki.KIActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".menu.appersepsi.ApersActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>